# .env
# контейнер от postgresql не воспринимает другие имена
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=etl_db

csv_file = 'tested.csv'
DTYPE_SCHEMA_PATH="config/dtypes.json"
# Из-за особенной контейнера для postgresql
# пришлось сделать переиспользование,
# а абстракцию не хотел портить
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}
DB_HOST=localhost
DB_PORT=5432
DB_DRIVERNAME=postgresql+psycopg2

# Настройки для dbt
DBT_USER=${DB_USER}
DBT_PASSWORD=${DB_PASSWORD}
DBT_DBNAME=${DB_NAME}
DBT_HOST=etl_postgres
DBT_PORT=${DB_PORT}